/* WholeTale Customizations - ked */


.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}


/*
 * General
 */


body {
  padding-top: 40px; 
  padding-bottom: 0px;
  font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif;
}
							
.page-header{
  border: 0px;
  text-align: center;
}



/*
 * Navigation
 */

.navbar {
  min-height: 40px;
}

.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-brand {
  height: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
}
			
.logo{
  height: 30px;
  margin-top: 6px;
}



/*
 * Banner image
 */

.title-page {
  background-color: #00517d;
  color: #fff;
}

.title-page h1 {
  margin-bottom: 5px;
}
.title-page h2 {
  margin-top: 0;
  font-size: 24px;
  color: #abcfea;
  line-height: 1.3;
}

.title-page {
  padding-top: 10%;
  padding-bottom: 10%;
}

.title-page .text-center {
  text-align: center;
}

.title-page img.wt-logo-ph {
  width: 150px;
  margin: 10px auto;
  display: block;
}
	

/*
 * Small banner image
 */

.title-page-sm {
  background-color: #00517d;
  color: #abcfea;
  padding: 30px 0;
}
.title-page-sm {
  background: #00517d url("images/whole_tale_banner_simple.png") no-repeat center center;  
  background-size: cover; 
}
.title-page-sm h2 {
  margin: 0;
  font-size: 24px;
  line-height: 1.3;
}

	

/*
 * Misc
 */


h4 {
  line-height: 1.2em;
}

ul.no-indent {
  margin: 0;
  padding-left: 15px;
}

ul.plain {
  list-style-type: none;
  padding-left: 30px;
}
ul.plain li {
  padding: 2px 0;
  text-indent: -20px;
}

.alert-red {
  color: #9f1413;
}

hr {
  margin: 40px 0;
}

.caption {
  font-size: 0.8em;
  font-style: italic;
}

.well {  /* Override template gray well style - ked */
  border: none;
  border-top: solid 3px #d8d6d3;
  background: #f7f6f5;
  box-shadow: none; 
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  margin: 20px 0;
}

.well h3 {
  margin-top: 0;
}

.return-link {
  text-align: right;
}

.btn-circle {
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.428571429;
	border-radius: 15px;
	background-color: green;
}
			
.approach{
}
				
#involved .panel-body {
  height: auto;
}

.social-link{
	font-size: 26px;
}
				
.social-button{
	padding-right: 5px;
}
			
				
.involve-body h4{
  text-align: center;
  line-height: 1.3em;
}

.involve-button{
	margin-top:13px;
}

.side-logo img {
   width: 200px;
   margin: 0 auto;
}

/*
 * Responsive styles
 */

@media (min-width: 768px) {
  .logo{
    margin-top: 0px;
  }
  #involved .panel-body {
    height: 250px;
  }
  .title-page {
    background: #00517d url("images/whole_tale_banner_enhanced.png") no-repeat top center;  
    background-size: cover; 
  }
  .title-page .text-center {
    text-align: left;    
  }
  .title-page h2 {
    margin-top: 0;
    font-size: 30px;
  }
  .title-page img.wt-logo-ph {
    display: none;
  }
  .intern-content {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: 992px) {
  .title-page .text-center {
    text-align: center;    
  }
  #involved .panel-body {
    height: 220px;
  }
}

@media (min-width: 1200px) {
  .title-page {
    padding-top: 8%;
    padding-bottom: 8%;
  }
  #involved .panel-body {
    height: 200px;
  }
  .side-logo img {
   width: 300px;
  }
}

@media (min-width: 1600px) {
  .title-page {
    padding-top: 6%;
    padding-bottom: 6%;
  }
}




